<div class="form-input">
  <%= form.label active_field.name %>
  <%= form.select active_field.name, active_field.allowed_values, { multiple: true, include_blank: true, selected: active_value&.value } %>
</div>
