/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# IDE
.idea/
.vscode/

# rspec failure tracking
.rspec_status

/spec/dummy/db/schema.rb
/spec/dummy/log/
/spec/dummy/tmp/

.ruby-version
Gemfile.lock
TODO.md
