<div>
  <%= form.label :value, active_field.name %>
  <%=
    render_array_field(
      form: form,
      name: :value,
      value: active_value.value,
      field_method: :text_field,
      field_opts: { maxlength: active_field.max_length },
    )
  %>
</div>
