<% if active_value.new_record? %>
  <%= form.hidden_field :active_field_id %>
<% end %>

<div class="form-input">
  <%= form.label :value, active_field.name %>
  <%= form.select :value, active_field.allowed_values, { include_blank: true, selected: active_value.value } %>
</div>
