<%= form.hidden_field :name, value: active_value.active_field.name %>

<div class="form-input">
  <%= form.label :value, active_field.name %>
  <%= form.select :value, active_field.allowed_values, { include_blank: true, selected: active_value.value } %>
</div>
