<% if active_value.new_record? %>
  <%= form.hidden_field :active_field_id %>
<% end %>

<div class="form-input">
  <%= form.label :value, active_field.name %>
  <%= form.text_field :value, { value: active_value.value, maxlength: active_field.max_length } %>
</div>
