<%= form.hidden_field :name, value: active_value.active_field.name %>

<div class="form-input">
  <%= form.label :value, active_field.name %>
  <%= form.text_field :value, { value: active_value.value, maxlength: active_field.max_length } %>
</div>
