.error_explanation {
    background-color: red;
}

.field_with_errors {
    display: inline;
    background-color: red;
}

.links {
    margin-bottom: 1em;
}

.table {
    margin-bottom: 1em;
    border-collapse: collapse;
    border: 2px solid black;
}

.table td {
    border: 1px solid black;
    padding: 0.5em;
}

.table th {
    border: 2px solid black;
    padding: 0.5em;
}

.table tr:hover {
    background-color: lightgray;
}

.form-input {
    margin-bottom: 1em;
}

.form-array-field-group {
    margin-bottom: 0.5em;
}

.finders-form {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 2px solid black;
    width: fit-content;
}

.tenant-context-switch {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 2px solid black;
    width: fit-content;
}
